body {
  font-family: Arial, sans-serif;
  background-color: #ef40ff;
  margin: 0;
  padding: 0;
}

table {
  background-color: rgb(255, 31, 31);
}

h1 {
  text-align: center;
  color: #333;
}

#planets {
  width: 80%;
  margin: 20px auto;
  border-collapse: collapse;
  border: 2px solid #716262;
  background-color: #ff2f2f;
}

#planets th,
#planets td {
  padding: 10px;
  text-align: center;
  border: 2px solid #716262;
  background-color: #796b6b;
}

#planets th {
  background-color: #796b6b;
}

#planets td {
  background-color: #796b6b;
}

#planets img {
  width: 100px;
  height: auto;
  display: block;
  margin: 0 auto;
}

#planets td h1 {
  margin: 0;
  font-size: 16px;
  color: #666;
  background-color: #796b6b;
}

#planets td:not(:first-child) {
  font-weight: bold;
}

#planets tr:nth-child(even) {
  background-color: #796b6b;
}

#planets tr:hover {
  background-color: #796b6b;
}
